<div class="parent">
  <h3 >Login Form</h3>


  <form  [formGroup]="form" (submit)="onLogin()">


    <mat-form-field appearance="outline">
      <mat-label>Email
      </mat-label>
      <input matInput
      type="email"
      formControlName="email"
      placeholder="email"

      />
      <mat-error *ngIf="form.get('email')?.touched">Please enter valid email</mat-error>
      </mat-form-field >
      <br />




      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput
        type="password"
        formControlName="password"
        placeholder="password"
        />
        <mat-error  *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')">
          Password required
        </mat-error>
        </mat-form-field >

        <br />




    <button mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
    >
 Login
    </button>


    </form>

    <br />


</div>