<mat-toolbar color="primary">
  <span>BOOK APP</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span class="spacer"></span>
  <div >
    <a  mat-icon-button [routerLink]="['/']"  aria-label="additional links">
        <mat-icon>home</mat-icon>
    </a>
   
</div>
</mat-toolbar>



