.spacer{
  flex: 1 1 auto
}
/* mat-toolbar{
  display: flex;

} */

 .valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

/*a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

.menu-items {
  margin: 0;
  padding: 0;
  list-style: none;
}
*/
mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 999;
}
