div {
  /* width: 100%; */
  margin-left:50px;
  margin-right: 50px;
  overflow:auto;
  overflow-wrap: break-word;
  /* padding: 50px */
}
.spacer{
  flex: 1 1 auto
}


.mat-form-field {
  font-size: 14px;
  /* width: 100%; */
  margin-left:50px;
  margin-right: 50px;
}

th {
  width: 15%;
  /* text-align: center !important; */
  /* vertical-align: middle !important; */
  overflow:auto;
  overflow-wrap: break-word;


}

td{
  width: 15%;
  /* text-align: center !important;
  vertical-align: middle !important; */
  overflow:auto;
  overflow-wrap: break-word;
}

.addbook{
  /* align-self: center; */
  text-align: center !important;
  vertical-align: middle !important;
}

