<mat-toolbar>
  <h4>Hi</h4>
  <span class="spacer"></span>
  <button mat-button  (click)="logout()">Logout</button>
</mat-toolbar>

<mat-card *ngIf="books.length<=0">
  No Books Yet!
</mat-card>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input  matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8"  >
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
      <td mat-cell *matCellDef="let element"> {{element.bookauthor.author}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef > Status </th>
      <td  mat-cell *matCellDef="let element">
      <button *ngIf="element.published == false"
      mat-button (click)="onPublish(element,true)"
      >
     PUBLISH
     </button>
     <button *ngIf="element.published == true"
      mat-button (click)="onPublish(element,false)"
     >
     UNPUBLISH
     </button>
     </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
      <button mat-button  (click)="onEdit(element.id)" color="primary">
        <mat-icon>edit</mat-icon>
      </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="onDelete(element.id)" color="warn">
      <mat-icon>delete</mat-icon>
      </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
      <button mat-button (click)="onContent(element.id)" >
        <mat-icon>download</mat-icon></button>
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
      <button mat-stroked-button  (click)="openDialog(element.id)">READ MORE</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page">
  </mat-paginator>
</div>
<br />
<div class="addbook">
  <button mat-stroked-button  color="primary" (click)="onAddBook()">ADD BOOK</button>
</div>