mat-form-field,
textarea {
 width: 100%;



}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('https://tse4.mm.bing.net/th/id/OIP.Q7_X0BozRcn323EU85I-lQAAAA?pid=ImgDet&rs=1');
  background-size:contain;
  background-repeat: no-repeat;
  height: 80vh;

}

.header{
  text-align: center;
}

h3{
  font-weight: bold;
  margin-top: 10px;
}