
<div class="parent">
  <h3 >Sign Up Form</h3>


  <form  [formGroup]="form" (submit)="onSignup()">

    <mat-form-field appearance="outline">
    <mat-label>Author</mat-label>
    <input matInput
    type="text"
    formControlName="author"
    placeholder="author"
    />
    <mat-error *ngIf="form.get('author')?.touched">required</mat-error>
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline">
      <mat-label>Email
      </mat-label>
      <input matInput
      type="email"
      formControlName="email"
      placeholder="email"
      />
      <mat-error *ngIf="form.get('email')?.touched">Please enter valid email</mat-error>
      </mat-form-field >
      <br />

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput
        type="password"
        formControlName="password"
        placeholder="password"
        />
        <mat-error *ngIf="form.get('password')?.touched">Please enter valid phone number</mat-error>
        </mat-form-field >

        <br />

<p>Already a member ?<button mat-button color="primary" (click)="loginNavigate()">Login</button></p>


    <button mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
    >
    Sign Up
    </button>


    </form>

    <br />


</div>