<div *ngIf="book" class="main">
  <h1 mat-dialog-title>{{book.title}}</h1>

  <br />
  <div mat-dialog-content>
    <img src="https://th.bing.com/th/id/R.94d12979df003faeed63e55d8cfb0396?rik=CT1L7O4DTTmfoA&riu=http%3a%2f%2fwww.clker.com%2fcliparts%2f3%2f7%2f9%2f5%2f1197094932257185876johnny_automatic_books.svg.med.png&ehk=GUyyJKzvcoDUCxSmpGcDkVX6EPxgUFWtpcxvQirEfiw%3d&risl=&pid=ImgRaw&r=0">
  </div>
  <br />
  <div mat-dialog-content>{{book.sdesc}}</div>
  <br />

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
  </div>

  </div>
