mat-card{
  /* width: 100%;
  height: 100%;
  margin-top:10px; */
  display: flex;
  flex-direction: column;

  /* height:500px; */
  /* margin-left: 50px;
  margin-right: 50px; */
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9Ex5qIoH7mBGwaffLZJ9dIlylptxuEdXsf3FHS2q06HFhx2fd-v0wJ1hg6GYuMChxc4Q&usqp=CAU'); */
  /* background-repeat: no-repeat; */
}

.footer{
  margin-left: 5px;
}

.image
{
  width: 180px;
  height: 100px;
}
