

<mat-toolbar>
  <h5>Welcome to Books Web</h5>
  <span class="spacer"></span>
  <!-- <a mat-button routerLink="/signup" >SIGN UP</a> -->
  <button mat-button (click)="signupNavigate()">SIGN UP</button>
 
 
 </mat-toolbar>
 

 
 <div class="main-div">
 
 
 </div>