mat-grid-tile {
  background: lightblue;
}


.example-card{
  /* margin:0 auto; */
  /* display:inline-block; */
  margin: 100px 300px 100px 200px;
  height: 350px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
div {
  background-image: url('https://th.bing.com/th/id/R.52d8d0f19fa45a82d76bb04f8ad14325?rik=ake6mYMZg0RPJw&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fpoem-book-png--969.png&ehk=1Ow5OARHI4FaOfd2cE4zYBkqGocdk5G6b02vfmBqteQ%3d&risl=&pid=ImgRaw&r=0');
  background-size:contain;
  background-repeat: no-repeat;
  /* background-blend-mode:darken; */
  height: 80vh;
}

.spacer{
  flex: 1 1 auto
}
/* .main-div{

}
.temp
{
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
} */