

<!-- <mat-card>
<form (submit)="onCreateBook(bookForm)" #bookForm="ngForm">
<mat-form-field>
    <input matInput
    type="text"
    name="title"
    placeholder="enter the title"
    required
    [ngModel] ="book.title"
    />
</mat-form-field>
<br />
<mat-form-field>
    <input matInput
    type="text"
    name="author"
    placeholder="enter the name of author"
    required
    [ngModel] ="book.author"/>
</mat-form-field>
<br />
<mat-form-field>
    <input matInput
    type="text"
    name="phone"
    placeholder="enter the contact number"
    required
    [ngModel] ="book.phone"/>
</mat-form-field>
<br />
<mat-form-field>
    <input matInput
    type="email"
    name="email"
    placeholder="enter the email"
    required
    [ngModel] ="book.email"/>
</mat-form-field>
<br />
<mat-form-field>
    <input matInput
    type="text"
    name="category"
    placeholder="enter the category"
    [ngModel] ="book.category"/>
</mat-form-field>
<br />
<mat-form-field>

    <textarea matInput
  rows="4"
    type="text"
    name="sdesc"
    placeholder="enter the short description"
    required
    [ngModel] ="book.sdesc"></textarea>
</mat-form-field>


  <input

  type="file"
  name="pdfFile"
  placeholder="upload file"
  required
  ngModel /> -->

<!-- <mat-form-field>
  <ngx-mat-file-input name="pdfFile" ngModel>
  </ngx-mat-file-input>
</mat-form-field> -->
<!-- <br />
<button mat-raised-button
color="primary"
type="submit">
Create Book
</button>
</form>

</mat-card> -->

<div class="parent">
  <h3 *ngIf="mode=='create'">CREATE FORM</h3>
  <h3 *ngIf="mode=='edit'">EDIT FORM</h3>

  <form [formGroup]="form" (submit)="onCreateBook()" >

    <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput
    type="text"
    formControlName="title"
    placeholder="title"
    />
    <mat-error *ngIf="form.get('title')?.invalid">required</mat-error>
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline">
    <mat-label>Category</mat-label>
    <input matInput
    type="text"
    formControlName="category"
    placeholder="category"
    />
    <mat-error *ngIf="form.get('category')?.invalid">required</mat-error>
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline">
    <mat-label>Short Description</mat-label>
    <textarea matInput
    maxlength="500"
    type="text"
    formControlName="sdesc"
    placeholder="short description">
    </textarea>
    <mat-error *ngIf="form.get('sdesc')?.invalid">Fill in with 500 charcters</mat-error>
    </mat-form-field>

    <br/>
    <br />

    <div>
      <input type='file' #filePicker (change)="onFileSelected($event)" accept=".pdf">
    </div>

    <br />
    <br />

    <button *ngIf="mode=='create'" mat-raised-button
    color="primary"
    type="submit">
    Create Book
    </button>

    <button *ngIf="mode=='edit'" mat-raised-button
    color="primary"
    type="submit">
    Edit Book
    </button>
    </form>

    <br />


</div>
