

mat-form-field,
textarea {
 width: 100%;



}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.header{
  text-align: center;
}

h3{
  font-weight: bold;
  margin-top: 10px;
}
/* input[type='file']
{
  visibility: hidden;
} */
